@font-face {
    font-family: curseTImer;
    src: url(CursedTimerUlil-Aznm.ttf);
}

h1 {
    text-shadow: 0px 0px 10px red;
}

body {
    margin: 0px;
    background-image: url("images/backgroung.jpg");
    background-size: cover;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    /*background-image: url("images/court.jpg");
    background-size: cover;*/
    max-width: 50%;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.black-board {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;   
    height: 200px;
    width: 200px;
    font-family: curseTimer, sans-serif, Verdana;
    color: #F94F6D;
    padding-top: 12px;
    border-radius: 20%;
    border: 5px solid burlywood;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    font-family: curseTimer, sans-serif, Verdana;
    border-radius: 50%;
    border: 4px dotted white;
}

button:hover {
    background-color: whitesmoke;
    color: #F94F6D;
    font-weight: bold;
    box-shadow: 0px 0px 10px 2px red;
}

#banner {
    font-size: 40px;
    border: 4px dotted burlywood;
    width: 40%;
    margin: auto;
    border-radius: 10%;
    background-color: black;
}

.big-button {
    margin-top: 0px;
    background-color: #F94F6D;
    color: white;
    width: 200px;
    font-family: curseTimer, sans-serif, Verdana;
    border-radius: 10%;
}